{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'myapp/bootstrap/css/style.css' %}">
    <title>Prosto-parkovka</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <style>
        body {
            background: linear-gradient(296.82deg, rgba(63, 231, 110, 0.61) 8.85%, rgba(21, 51, 206, 0.78) 72.92%, rgba(16, 43, 187, 0.78) 97.4%);
        }
    </style>
    <div class="container-fluid forms">
        <nav class="navbar navbar-expand-lg navbar1">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src="{% static 'myapp/images/logo.svg' %}" alt="Prosto-parkovka" width="230">
                </a>
            </div>
        </nav>
        <div class="row justify-content-center title_project">
            <h1 id="downloading" class="col-8-xxl col-12 download_title text-light">
                Восстановление пароля
            </h1>
        </div>
        <form method="post" style="margin-bottom: 50px;" action={% url 'forgot_password' %}>
            {% csrf_token %}
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="row mb-3">
                        <label for="inputEmail3" class="col-sm-4 col-form-label text-light">Введите Email, который вы использовали при регистрации</label>
                        <div class="col-sm-6">
                            <input type="email" class="form-control" id="inputEmail3" name="email">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Сменить пароль</button>
                    {% if forgot_password_error_message %}
                    <p class="text-danger">{{ forgot_password_error_message }}</p>
                    {% endif %}
                </div>
            </div> 
        </form>
    </div>
</body>